.Menu {
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 350px;
}

.Menu nav {
    margin-top: 80px;
}

.Menu nav ul {
    list-style: none;
}

.Menu nav ul li {
    margin-bottom: 24px;
}

.Menu nav ul li a, .menuItem{
    color: teal;
    font-size: 26px;
    text-decoration: none;
    padding: 10px;
}

.menuItem.active {
    color: brown;
}